version: '3.8'

services:
  backend:
    image: mak37/taski_backend:latest
    restart: always
    volumes:
      - static_volume:/backend_static
      - media_volume:/app/media/
    environment:
      - DEBUG=False
      - SECRET_KEY=${SECRET_KEY}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
    depends_on:
      - db

  frontend:
    image: mak37/taski_frontend:latest
    restart: always

  gateway:
    image: mak37/taski_gateway:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_volume:/staticfiles
    depends_on:
      - backend
      - frontend

  db:
    image: postgres:13
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}

volumes:
  postgres_data:
  static_volume:
  media_volume:
